<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Inicial</title>
    <link rel="stylesheet" href="../../public/css/global.css" />
  </head>

  <body>
    <nav class="menu">
      <img
        class="logo"
        src="https://w7.pngwing.com/pngs/262/712/png-transparent-purple-cosmos-flower-illustration-flower-blossom-flower-purple-violet-color-thumbnail.png"
        alt="Logo Site"
      />
      <ul>
        <a href="/contato">CONTATO</a>
        <a href="/sobre">SOBRE NÓS</a>
        <a class="btn-logar" href="/login">LOGAR</a>
      </ul>
    </nav>
  </body>
</html>
